header.header-container{
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
header.header-container article.container-nav{
    /* width: 50px;
    height: 50px;
    background: #fff; */
    border-radius: 50%;
    /* cursor: pointer; */
    /* box-shadow: 0 0 0 0 rgba(0, 0, 0, 1); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: all .7ms ease-in-out; */
}
header.header-container article.container-nav nav.navbar{
    background: rgba(225, 230, 240, 0.4);
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 220px;
    box-shadow: 0 0 30px rgba(225, 230, 240, 0.3);
}

header.header-container article.container-nav  img.logo{
    width: 8rem;
    cursor: pointer;
    top: 1.2rem;
    position: absolute;
    filter: drop-shadow(0 0 60px rgba(225, 230, 240, 0.3));
    transition: all 5ms ease-in-out;
}
header.header-container article.container-nav  img.logo:hover{
    width: 8.02rem;
    filter: drop-shadow(0 0 40px rgba(225, 230, 240, 0.3));
}
header.header-container article.container-nav h1.marcName{
    position: absolute;
    top: 12.5rem;
    /* right: 4.5rem; */
    color: var(--B-azulado);
}

header.header-container article.container-nav nav.navbar{
    
    display: none;
    
}
header.header-container article.container-nav nav.navbar ul{
    list-style: none;
    text-align: center;
    padding: 15px 20px 2px 20px;
}
header.header-container article.container-nav nav.navbar ul li{
    font-weight: 600;
    margin: .2rem 0 .2rem 0;
}
header.header-container article.container-nav nav.navbar ul li a{
    text-decoration: none;
    cursor: pointer;
    color: var(--A-oscuro);
    transition: all 5ms ease-in-out;
}
header.header-container article.container-nav nav.navbar ul li a:hover{
    font-weight: 700;
    text-decoration: underline var(--A-oscuro);
    font-size: 1.1rem;
}
header.header-container article.container-nav nav.navbar div.container-closed{
    cursor: pointer;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* background-color: rgba(255, 255, 255, 0); */
    height: 60px;
    transition: all .3s ease-in-out;
}
header.header-container article.container-nav nav.navbar div.container-closed:hover {
    border: none;
    background-color: tomato;
    box-shadow: 0 7px 50px rgba(213, 48, 32, 0.5);
}

header.header-container article.container-nav nav.navbar div.container-closed p.closed{
    text-align: center;
    cursor: pointer;
    color: var(--A-oscuro);
    /* padding-top: 1rem; */
    padding-top: 0.5rem;
    font-size: 30px;
    transition: all .7s ease-in-out;
}

header.header-container article.container-nav nav.navbar div.container-closed:hover p.closed{
    color: var(--B-azulado);
    font-size: 32px;
}