<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AndesDevs>_</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/logo/logo.png" type="image/x-icon">

</head>
<body>
    
    <%- include('./Partials/header') %>
    
    <script src="/JS/header.js"></script>
</body>
</html>