<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domotica man</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <%- include('./Partials/header') %>
    <%- include('./Partials/sectionI') %>
    <script src="/JS/header.js"></script>
</body>
</html>