<header class="header-container">
    <article class="container-nav">
        <img class="logo" src="/img/logo/logo.png" alt="">
        <h1 class="marcName">AndesDevs>_</h1>
        <nav class="navbar">
            
            <ul class="navbar-container">
                <li class="navbar-item">
                    <a class="navbar-redirect" href="">Hola como estas</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-redirect" href="">Nuestros servicios</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-redirect" href="">Productos</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-redirect" href="">¿Quienes somos?</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-redirect" href="">Contacto</a>
                </li>
                <!-- <p class="closed">X</p> -->
            </ul>
            <div class="container-closed">
                <p class="closed">X</p>
            </div>
        </nav>
        <!-- <div class="logo-container">
            
        </div> -->
    </article>
</header>