<header class="header-container">
    <article class="container-nav">
        <div class="conatiner-burgernav">

            <button class="burger-menu" id="open-menu">
                <span class="burger-line"></span>
                <span class="burger-line"></span>
            </button>

            <nav class="navbar" >    
                <div class="container-Title">
                    <h1 class="marcName">AndesDevs>_</h1>
                </div>
                <div class="desploy_menudeskt" id="menu-open-desk">
                    <p class="menudeskt">Menu v</p>
                </div>
                <ul class="navbar-container">
                    <li class="navbar-item">
                        <a class="navbar-redirect" href="">¿Quienes somos?</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-redirect" href="">Nuestros servicios</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-redirect" href="">Productos</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-redirect" href="">Reciclaje de electronica</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-redirect" href="">Contacto</a>
                    </li>
                    
                </ul>
                <!-- <div class="container-closed">
                    <p class="closed">X</p>
                </div> -->
            </nav>

        </div>

        
        <div class="container-logoTitle">
            <img class="logo" src="/img/logo/logo.png" alt="">
        </div>
        
    </article>
</header>