<article class="sectionI">
    <div class="containerSectionI">

        <img class="sectionI-img" src="/img/sectionI/img22.jpeg" alt="">
        
        <div class="bt-container">
            <div class="bt-container-question">
                <p class="bt-question">?</p>
            </div>
            <div class="sectionI-text">
                <h2 class="sectionI-title">¿Quienes somos?</h2>
                <p class="sectionI-paraf">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis non officiis optio ut culpa velit quo reprehenderit.</p>
                <div class="container-sectionI-redirect">
                    <a href="" class="sectionI-redirect">Saber mas</a>
                </div>
            </div>
        </div>
    
    </div>
</article>