<article class="sectionI">
    <div class="containerSectionI">

        <img class="sectionI-img" src="/img/sectionI/img22.jpeg" alt="">
        
        <div class="bt-container">
            <div class="bt-container-question">
                <p class="bt-question">?</p>
            </div>
            <div class="sectionI-text">
                <h2 class="sectionI-title">Titulo a selection</h2>
                <p class="sectionI-paraf">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis non officiis optio ut culpa velit quo reprehenderit inventore molestiae autem similique dolorem, error alias harum, omnis mollitia architecto et adipisci.</p>
                <a href="" class="sectionI-redirect">Sobre nosotros</a>
            </div>
        </div>
    
    </div>
</article>